.hidden {
  display: none;
}

#measurement,
#ingredient {
  list-style-type: none;
}

.titleHero {
  flex-direction: row;
}

.notification.is-warning {
  background-color: #1f1c10;
  color: rgba(0, 0, 0, 0.7);
}

#logo {
  border: rgb(9, 243, 212) 2px ridge;
}

#titleLogo {
  color: rgb(9, 243, 212);
  font-size: 35px;
  font-weight: bolder;
}

.hero.is-dark {
  background-color: #363636;
  color: #fff;
}
.hero {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 120px;
  flex-grow: 0;
}

article, aside, figure, footer, header, hgroup, section {
  display: block;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

section {
  display: block;
  height: 100%;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  color: #4a4a4a;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

#heroContainer {
  display: flex;
}
.hero-body {
  padding-bottom: 0px;
  padding-top: 10px;
}

/* history css */
.label {
  font-size: 25px;
  margin-right: 5px;
}

.search-clear {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.button  {
  padding-left: 5px;
}

#footer {
  background-color: rgb(9, 243, 212);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: grey 10px groove;
  color: rgba(7, 12, 10, 0);
  color: #1f1c10;
  flex-grow: 0;
}

.notification {
    border-radius: 4px;
    padding: 3rem 1rem 1rem;
    position: relative;
}

button {
  padding: 0px;
  border: 0px;
}

.footer-names {
  display: flex;
  justify-content: flex-end;
}

.footer-names p {
  margin-right: 30px;
}

#back-button {
  float: right;
}